.App {
  text-align: center;
  padding-bottom: 20px;
}

.App-title {
  font-size: 6em;
  font-family: 'Chathura', sans-serif;
  background: -webkit-linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
