.App {
  text-align: center;
  padding-bottom: 20px;
}

.App-title {
  font-size: 6em;
  font-family: 'Chathura', sans-serif;
  background: -webkit-linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 3em;
  text-decoration: none;
}

.icon{
  float: left;
  padding: 1.5em;
}