.App {
  text-align: center;
  padding-bottom: 10px;
}

.App-title {
  font-size: 8em;
  font-family: 'Chathura', sans-serif;
  letter-spacing: .2em;
  background: -webkit-linear-gradient(90deg, #0e2ed0 0%, #a607bf 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -20px;
}

.user {
  font-family: 'Chathura', sans-serif;
  font-size: 2em;
  color: white;
  text-align: right;
  border-right: transparent;
  border-left: inset;
  border-top: inset;
  border-bottom: inset;
  border-width: 2px;
  display: inline-block;
  padding-left: 5px;
  margin-left: 20px;
  margin-top: 20px;
  border-image: linear-gradient(90deg, #0e2ed0 0%, #a607bf 80%);
  border-image-slice: 1 
}

.signup {
  font-family: 'Chathura', sans-serif;
  font-size: 2em;
  color: white;
  border-left: transparent;
  border-right: inset;
  border-top: inset;
  border-bottom: inset;
  border-width: 2px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 20px;
  padding-right: 5px;
  margin-top: 20px;
  text-align: right;
  border-image: linear-gradient(270deg, #0e2ed0 0%, #a607bf 80%);
  border-image-slice: 1
}

h5 {
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 3em;
  text-decoration: none;
}

.icon {
  float: left;
  padding: 1.5em;
}


/* NASA COMPONENTS */
.img {
  border-radius: 20px;
  width: 20%;
  height: 20%;
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.title {
  color: white;
  font-family: 'Abel', sans-serif;
}

.single-img {
  border-radius: 120px;
  margin: auto;
  width: 50%;
  display: block;
  margin-bottom: 40px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

.allimgs {
  /* display: inline-block; */
  margin-left: auto;
  margin-right: auto;
}